.hero-background {
  background-image: url(./assets/banner.webp);
}

.lawyers-background {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./assets/lawyersHero.webp) no-repeat;
  background-size: cover;
}

.consultancies-background {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./assets/consultanciesHero.webp) no-repeat;
  background-size: cover;
}